@import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');

body {
    margin: 15px 50px 0px 50px;
    font-weight: 300;
}

.container.profPic {
    background-image: url("images/tryThis.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height:1200px;
    background-position: top -48px right -30px;
}
/*
.navbar {
    background: none;
    position: fixed;
    top: 0;
    width: 95%;
}
*/
/*----------------------------------------NavBar---*/

.navH1 {
    display: inline-block;
    margin: 24px 0px 0px 0px;
    font-weight: 200;
}

nav {
    float: right;  
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;
    position: relative;
}

nav a { 
    color: black;
    text-decoration: none;
    font-family: Koralle NF;
    font-size: 24px;
}

/*---------------------------------------Nav Hover---*/

nav a:hover {
    color: #1630bd;
}
    
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #1630bd;
    border-radius: 10px;
    position: absolute;
    width: 0%;
    bottom:0;
    margin-bottom: -10px;
    transition: ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

/*-------------------------------------------Content---*/

.ux {
    /*margin-top: 80px;*/
    display: inline-block;
    font-size: 24px;
    color: #1B98CE;
    font-weight: 900;
}

.loving {
    margin-top: 60px;
    display: block;
    font-family: 'Crimson Text', serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 48px;
    letter-spacing: 0.1em;
}

.where {
    display: block;
    margin-left: 70px;
    margin-top: 5px;
    font-family: 'Crimson Text', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.1em;
    padding: 20px;
}

.art {
    display: grid;
    margin-top: 30px;
    font-family: Koralle NF;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 117px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #831C78;

}

.and {
    display: grid;
    margin-left: 248px;
    margin-top: -170px;
    font-family: Teko;
    font-style: normal;
    font-weight: normal;
    font-size: 288px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #ABA9C8;
}

.tech {
    display: grid;
    margin-top: -75px;
    font-family: Teko;
    font-style: bold;
    font-weight: 900;
    font-size: 160px;
    line-height: 117px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #4469A6;
}

.collide {
    display: grid;
    margin-top: -40px;
    margin-left: 900px;
    font-family: 'Crimson Text', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0.1em;
    color: #000000;
}

h1 {
    font-family: Koralle NF;
    font-size: 48px;
}

h2 {
    font-family: Koralle NF;
    font-size: 28px;
}

/*------------------------------------------Science Section---*/

.container.sciencePsy {
    display: table;
    background-image: url("images/Rectangle\ 59.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.light {
    display: grid;
    margin-top: 200px;
    margin-left: 150px
}

.science {
    display: grid;
    letter-spacing: 0.1em;
    color: #8DA656;
    font-family: Koralle NF;
    font-size: 144px;
    margin-top: -275px;
    margin-left: 335px;   
}

.anotherAnd {
    display: grid;
    margin-left: 949px;
    margin-top: -125px;
    font-family: Teko;
    font-size: 144px;
    letter-spacing: 0.1em;
    color: rgba(133, 143, 110, 0.5);
}

.psy {
    display: grid;
    margin-left: 700px;
    margin-top: -50px;
    margin-bottom: 50px;
    font-family: Koralle NF;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    letter-spacing: 0.1em;
    color: #DFA716;

}

.inspire {
    display: grid;
    margin-left: 1000px;
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    letter-spacing: 0.1em;
}


/*------------------------------------------User Research Content Three Section---*/

.three {
    font-family: 'Crimson Text', serif;
    font-size: 36px;
    letter-spacing: 0.1em;
    text-align: center;
}

.container.tribe {
    display: table;
    background-image: url("images/backgroundShapes.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1424px;
}

.tribe {
    font-family: Koralle NF;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    display: flex;
    letter-spacing: 0.05em;
    color: #4469A6;
}

.website {
    font-family: Koralle NF;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    display: flex;
    letter-spacing: 0.05em;
    color: #48577D;
}

.teach {font-family: Koralle NF;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        color: #623496;
    
}

.tribeLogo {
    margin-top: 200px;
    margin-left: 200px;
}


/*------------------------------------------My Skills Section---*/

.mySkills {
    position: relative;
    top: 50px;
    margin: 100px;
}

h3 {
    font-family: Koralle NF;
    font-size: 20px;
}

.myskills {
    display: flex;
}

.flexContainer {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid rgb(98, 55, 116);
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
   
}

.flexbox-item {
    
    justify-content: space-evenly;
    border-color: 2px solid black;
    padding: 20px 20px 20px 20px;
    margin: 20px;
    /*background-color: #E5EDFF;*/
    border-radius: 10px;
}

.flexbox-item h3 {
    font-family: Koralle NF;
    font-size: 20px;
    justify-items: center;
    text-align: center;
}

.flexbox-item p {
    justify-items: center;
    text-align: center;
}

.flexbox-item img {
    justify-items: center;
    text-align: center;
}

/*----------------------------------------My Work Section---*/

.myWork {
    position: relative;
    top: 50px;
    margin: 100px;
}

.workGrid {
    display: grid;
    justify-content: space-evenly;
    border: 2px solid rgb(98, 55, 116);  
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
    row-gap: 20px;
    grid-template-columns: 30% auto;
    grid-template-areas: 
    "item-A item-A1"
    "item-B item-B1"
    "item-C item-C1";
    
}
.workGrid-item {
    background-color: #E5EDFF;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin: 20px;
    
}

.workGrid-item item-C {
    display: inline-flex;

}

.workGrid-item p {
    justify-items: center;
    text-align: center;
}

.workGrid-item h4 {
    font-family: Koralle NF;
    font-size: 20px;
    justify-items: center;
    text-align: center;
}

#viewAll {
    text-align: center;
    padding-bottom: 50px;
}

/*------------------------------------------------footer---*/

footer {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer p{
    font-family: Koralle NF;
    font-size: 20px;
    padding: 0 0 0 30px; 


}

/*
footer {
    background: #E5EDFF;
}

footer::after {
    content: '';
    display: table;
    clear: both;
}

.footer-nav {
    float: left;
}

footer a{ 
    color: black;
    text-decoration: none;
    font-family: Koralle NF;
    font-size: 18px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li {
    display: inline-block;
    margin-left: 70px;
    padding-bottom: 50px;

    /*position: relative;*/

/*
}

footer a{ 
    color: black;
    text-decoration: none;
    font-family: Koralle NF;
    font-size: 18px;
}


i.mysize {font-size: 36px;}

footer i {
    float: right;
}
*/


    @media only screen and (max-width: 1100px){

        h1{
            margin: 50px;
        }

        .heroSection {
            position: relative;
            top: 50px;
            margin: 20px 80px 80px 80px;
        }

        .mySkills {
            position: relative;
            top: 20px;
            margin: 20px;
        
        }
        
        .flexContainer {
            flex-direction: column; 
      
        }
        .flexbox-item {
            flex-direction: column;
           
        } 
    
        .myWork {
            position: relative;
            top: 20px;
            margin: 20px;
        }
        
        .workGrid {
            grid-template-rows: 300px 300px 300px 300px 300px 300px;
            row-gap: 0px 20px 0px 20px 0px;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "item-A"
            "item-A1"
            "item-B"
            "item-B1"
            "item-C"
            "item-C1";
        }
    
    
    };

@media only screen and (max-width: 600px){

    .heroSection {
        position: relative;
        top: 50px;
        margin: 20px 50px 50px 50px;
    }
    
    .content {
        position: relative;
        top: 20px;
        margin: -15px;
    
    }

    h1 {
        font-size: 36px;
        text-align: center;

    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }
    

    .mySkills {
        position: relative;
        top: 20px;
        margin: 20px;
    
    }
    
    .flexContainer {
        flex-direction: column; 
  
    }
    .flexbox-item {
        flex-direction: column;
       
    }

    .myWork {
        position: relative;
        top: 20px;
        margin: 15px;
    }
    

    .workGrid {
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
        row-gap: 0px 20px 0px 20px 0px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "item-A"
        "item-A1"
        "item-B"
        "item-B1"
        "item-C"
        "item-C1";
    }

   
}


